/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

html,body{
    font-family: 'Poppins';
}
.navbar {
    background: transparent url('img/box-bg.svg') 0% 0% no-repeat padding-box;
    
}
.navbar-light .navbar-nav .nav-link,
.navbar-vertical.navbar-light .navbar-nav .nav-link i{
    color: #fff;
}
.navbar-vertical.navbar-light .navbar-nav>.nav-item>.nav-link:hover i {
    color: #495392;
}
.bg-surface-primary .title {
    text-align: left;
font-family: 'Poppins';
font-size:26px ;
font-weight: bold;
letter-spacing: 0px;
    color: #E1003E;
}
.nav-tabs .nav-link {
    font-family: 'Poppins';
    font-size:16px ;
    font-weight: 600;
    color: #000000;
}
.nav-tabs .nav-link.active {
color: #EE274F;
border-bottom: 3px solid;
border-color: transparent transparent #EE274F;
}
.table.table-light.table-data thead th,
 .table .thead-light.table-data th {
    font-family: 'Poppins';
    font-size:16px ;
    font-weight: 600;
    color: #000000;
}
.pay-wrap {
    text-align: center;
}
.pay-wrap i {
    color: #046F04;
}
.pay {
    font-family: 'Poppins';
    font-size:16px ;
    font-weight: 600;
letter-spacing: 0px;
    color: #046F04;
}
.pay-code {
    font-family: 'Poppins';
    font-size:16px ;
    font-weight: 600;
letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.linkedin span,
.linkedin i{
    font-family: 'Poppins';
    font-size:20px ;
    font-weight: bold;
    color: #0072b1;
}
.country span{
    font-family: 'Poppins';
    font-size: 13px ;
    font-weight: 500;  
letter-spacing: 0px;
color: #000000;
}
.country img {
    width: 17px;
    height: 17px;
}
.client-details {
    display: flex;
    margin-bottom: 20px;
}
.client-details .client-img {
 min-width: 50px;
}
.invoice-wrap {
    text-align: center;
    font-family: 'Poppins';
    letter-spacing: 0px;
}
.invoice {
    font-size: 14px ;
    font-weight: 600;  
color: #E1003E;
}
.invoice-amt {
    font-size: 13px ;
    font-weight: 500;  
    color: #000
}
.invoice-btn {
    background: #E1003E;
    padding: 7px;
border-radius: 10px;
color: #fff;
font-size: 10px ;
font-weight: 500;  
opacity: 1;
}
.invoice-btn:hover{
    background: #fff;
    color: #E1003E;
    border: 1px solid #E1003E;
}
.invoice-summary-wrap {
    text-align: left;
    font-size: 13px ;
font-weight: 400;  
letter-spacing: 0px;
}
.invoice-create-date {
    color: #6E0D88;
    margin-bottom: 5px;
}
.invoice-paid-date {
    color: #178B32;
    margin-bottom: 5px;
}
.invoice-renewal-date {
    color: #CE7F00;
    margin-bottom: 5px;
}
.invoice-pending-day {
    font-size: 10px;
    color: #E1003E;
    margin-right: 5px;
}
.gst-wrap {
text-align: center;
}
.gst-status {
    font-size: 13px ;
font-weight: bold;  
color: #000000;
}
.gst-amount {
    font-size: 14px ;
font-weight: bold;  
    color: #206939;
}
.status {
    background: #FFD9E4 ;
    border-radius: 10px;
    padding: 2px;
}
.status span{
    font-size: 10px;
    font-weight: 600;  
color: #E1003E;
}
.status i {
    color: #E1003E; 
}
.btn-circle  {
 border-radius: 50px;
 background: #e9e9e9;
 border:1px solid #FFFDFD;
 padding: 10px;
}
.btn-circle i {
    color: #E1003E;
}
